.card {
    margin: 5vh 25vw;
    padding: 5vh 5vw;
    text-align: center;
}

.prompt-card h1, h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

.prompt-card input {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    margin: 1vh 0;
}

.prompt-card p {
    font-family: 'Roboto', sans-serif;
}

.feed-card {
    text-align: left;
    border: 0;
}