.feed-image-wrapper {
    width: 175px;
    height: 175px;
    overflow: hidden;
    position: relative;
    background: black;
    margin: 10px 0;
}

.feed-image-wrapper img {
    max-width: 100%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.feed-profile-wrapper {
    width: 50px;
    height: 50px;
    overflow: hidden;
}

.feed-profile-wrapper img {
    object-fit: cover;
}